
/* Criando Painel CMS 2/8 */

body{
    background-color: rgb(200,200,200);
}

.navbar{
    margin-bottom: 0 !important;
    border-radius: 0;
}

header#header{
    background: #333;
    color:      white;
}

header h2{
    margin-top: 20px;
}

header p {
    margin-top: 20px;
    position:   relative;
    top:        -1px;
}
